
html{font-size: 16px;}

body {
    font-family: Arial, 'Times New Roman';
    background: white;
    margin: 0;
    padding: 1.25rem;
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;       
}

h1, h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

main {
    flex: 1;
    max-width: 40rem;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

header img, main img {
    height: 1.5rem;
    width: 1.5rem;
}

.container {
    max-width: 37.5rem;
    margin: auto;
    padding: 1.25rem;
    border-radius: 0.75rem;
}

.form-section, .lista-section, .tarefa {
    background: white;
    padding: 1.25rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
    text-align: center;
}

input {
    width: 100%;
    padding: 0.625rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    border: 0.225rem solid gray;
    font-size: 1rem;
}

button {
    background: green;
    color: white;
    border: none;
    padding: 0.625rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
    margin-top: 0.625rem;
    font-size: 1rem;
}

button:hover {background: greenyellow;}

.tarefa {
    background: whitesmoke;
    border: 0.625rem solid #ddd;
    padding: 0.625rem;
    border-radius: 0.625rem;
    margin-top: 0.625rem;
}

.status {
    font-weight: bold;
    font-size: 0.95rem;
}

.pendente {color: orange;}
.andamento {color: blue}
.concluida {color: green}

.btn-status{
    margin-top: 0.5rem;
    background: blue;
    font-size: 0.9rem;
}

.btn-status:hover {background: lightblue;}

footer {
    margin-top: 0.25rem;
    padding-top: 0.025rem;
    border-top: 0.0625rem solid white;
    text-align: center;
    padding: 0.25rem;
}

