
html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, 'Times New Roman';
    background: white;
    margin: 0;
    padding: 1.25rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

h1, h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

main {
    flex: 1;
    max-width: 70rem;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: stretch;
}

header img, main img {
    height: 1.5rem;
    width: 1.5rem;
}

.container {
    max-width: 70rem;
    width: 100%;
    margin: auto;
    padding: 1.25rem;
    border-radius: 0.75rem;
}

.form-section {
    background: white;
    padding: 1.25rem;
    border-radius: 0.75rem;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
}

.lista-section {
    gap: 1rem;
    width: 100%;
}

#lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

#lista li {
    width: 100%;
}

input {
    width: 100%;
    padding: 0.625rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    border: 0.225rem solid gray;
    font-size: 1rem;
}

button {
    background: green;
    color: white;
    border: none;
    padding: 0.625rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: block;
    margin: 0.625rem auto;
    width: auto;
    font-size: 1rem;
}

button:hover {
    background: rgb(138, 219, 16);
}

.tarefa {
    background: whitesmoke;
    border: 0.2rem solid #ddd;
    padding: 0.75rem;
    border-radius: 0.6rem;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.status {
    font-weight: bold;
    font-size: 0.95rem;
}

.pendente { color: orange; }
.andamento { color: blue; }
.concluida { color: green; }

.btn-status {
    margin-top: 0.5rem;
    background: blue;
    font-size: 0.9rem;
}

.btn-status:hover {
    background: lightblue;
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    color: black;
}